DB_HOST=localhost
DB_PORT=3306
DB_NAME=nexuspanel
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

APP_PUBLIC_BASE_URL=http://localhost/NexusPanel-develop

MAIL_IMAP_HOST=mail.teotek.com.mx
MAIL_IMAP_PORT=993
MAIL_IMAP_SECURE=true
MAIL_IMAP_USER=demianromero@teotek.com.mx
MAIL_IMAP_PASS=change_me
MAIL_IMAP_MAILBOX=INBOX
MAIL_IMAP_ONLY_UNSEEN=true

MAIL_SMTP_HOST=mail.teotek.com.mx
MAIL_SMTP_PORT=465
MAIL_SMTP_SECURE=ssl
MAIL_SMTP_USER=demianromero@teotek.com.mx
MAIL_SMTP_PASS=change_me
