-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: nexuspanel
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auditoria_eventos`
--

DROP TABLE IF EXISTS `auditoria_eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditoria_eventos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usuario_id` int(11) DEFAULT NULL,
  `rol` varchar(40) DEFAULT NULL,
  `modulo` varchar(60) NOT NULL,
  `accion` varchar(80) NOT NULL,
  `referencia_tipo` varchar(40) DEFAULT NULL,
  `referencia_id` int(11) DEFAULT NULL,
  `detalles` text DEFAULT NULL,
  `ip_origen` varchar(64) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ae_usuario` (`usuario_id`),
  KEY `idx_ae_modulo` (`modulo`),
  KEY `idx_ae_fecha` (`created_at`),
  CONSTRAINT `fk_ae_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria_eventos`
--

LOCK TABLES `auditoria_eventos` WRITE;
/*!40000 ALTER TABLE `auditoria_eventos` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria_eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cfdi_eventos`
--

DROP TABLE IF EXISTS `cfdi_eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cfdi_eventos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `estado` enum('pendiente','timbrado','error') NOT NULL DEFAULT 'pendiente',
  `mensaje` varchar(255) DEFAULT NULL,
  `payload_json` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cfdi_pedido` (`pedido_id`),
  KEY `idx_cfdi_estado` (`estado`),
  CONSTRAINT `fk_cfdi_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cfdi_eventos`
--

LOCK TABLES `cfdi_eventos` WRITE;
/*!40000 ALTER TABLE `cfdi_eventos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cfdi_eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat`
--

DROP TABLE IF EXISTS `chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `usuario_id` int(11) NOT NULL,
  `mensaje` text NOT NULL,
  `ts` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pedido_id` (`pedido_id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `chat_ibfk_1` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`),
  CONSTRAINT `chat_ibfk_2` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat`
--

LOCK TABLES `chat` WRITE;
/*!40000 ALTER TABLE `chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_ayuda_operador`
--

DROP TABLE IF EXISTS `chat_ayuda_operador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_ayuda_operador` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `operador_id` int(11) NOT NULL,
  `admin_id` int(11) NOT NULL DEFAULT 0,
  `remitente_id` int(11) NOT NULL,
  `mensaje` text NOT NULL,
  `ts` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_chat_ayuda_operador_lookup` (`operador_id`,`id`),
  KEY `idx_chat_ayuda_operador_remitente` (`remitente_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_ayuda_operador`
--

LOCK TABLES `chat_ayuda_operador` WRITE;
/*!40000 ALTER TABLE `chat_ayuda_operador` DISABLE KEYS */;
INSERT INTO `chat_ayuda_operador` VALUES (1,2,1,1,'HOLA','2026-05-14 01:44:22'),(2,2,0,2,'que pasó?','2026-05-14 01:54:43');
/*!40000 ALTER TABLE `chat_ayuda_operador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente_producto_historial`
--

DROP TABLE IF EXISTS `cliente_producto_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente_producto_historial` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) NOT NULL,
  `producto_id` int(11) NOT NULL,
  `cantidad_total` int(11) NOT NULL DEFAULT 0,
  `veces_pedido` int(11) NOT NULL DEFAULT 0,
  `ultima_fecha` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_cliente_producto` (`cliente_id`,`producto_id`),
  KEY `idx_historial_cliente` (`cliente_id`),
  KEY `idx_historial_producto` (`producto_id`),
  CONSTRAINT `fk_historial_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_historial_producto` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=164 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente_producto_historial`
--

LOCK TABLES `cliente_producto_historial` WRITE;
/*!40000 ALTER TABLE `cliente_producto_historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente_producto_historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especies`
--

DROP TABLE IF EXISTS `especies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `especies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(80) NOT NULL,
  `slug` varchar(80) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=28685 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especies`
--

LOCK TABLES `especies` WRITE;
/*!40000 ALTER TABLE `especies` DISABLE KEYS */;
INSERT INTO `especies` VALUES (1,'Pollos','pollos',NULL,'2026-04-13 15:55:24'),(2,'Vacas','vacas',NULL,'2026-04-13 15:55:24'),(3,'Cerdos','cerdos',NULL,'2026-04-13 15:55:24'),(4,'Acuacultura','acuacultura',NULL,'2026-04-13 15:55:24'),(2471,'Alimento','alimento','Categoria base de insumos y nutricion','2026-04-19 16:15:29'),(2472,'Comida','comida','Categoria base de alimento terminado','2026-04-19 16:15:29'),(2629,'Pollo','pollo','Categoria base','2026-04-19 17:10:51'),(2630,'Vaca','vaca','Categoria base','2026-04-19 17:10:51'),(2631,'Cerdo','cerdo','Categoria base','2026-04-19 17:10:51');
/*!40000 ALTER TABLE `especies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_movimientos`
--

DROP TABLE IF EXISTS `inventario_movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario_movimientos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `producto_id` int(11) NOT NULL,
  `tipo` enum('entrada','salida','ajuste','reserva','liberacion') NOT NULL,
  `cantidad` int(11) NOT NULL,
  `stock_anterior` int(11) NOT NULL,
  `stock_nuevo` int(11) NOT NULL,
  `referencia_tipo` varchar(40) DEFAULT NULL,
  `referencia_id` int(11) DEFAULT NULL,
  `nota` varchar(255) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_im_producto` (`producto_id`),
  KEY `idx_im_fecha` (`created_at`),
  KEY `idx_im_ref` (`referencia_tipo`,`referencia_id`),
  KEY `fk_im_user` (`created_by`),
  CONSTRAINT `fk_im_producto` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_im_user` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_movimientos`
--

LOCK TABLES `inventario_movimientos` WRITE;
/*!40000 ALTER TABLE `inventario_movimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_throttles`
--

DROP TABLE IF EXISTS `login_throttles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_throttles` (
  `bucket` varchar(190) NOT NULL,
  `hits` int(11) NOT NULL DEFAULT 0,
  `window_start` datetime NOT NULL,
  `blocked_until` datetime DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`bucket`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_throttles`
--

LOCK TABLES `login_throttles` WRITE;
/*!40000 ALTER TABLE `login_throttles` DISABLE KEYS */;
INSERT INTO `login_throttles` VALUES ('login:email:19fb9bb6430c5d375c60be9acc1abfc2408343af4271ba44a5e5dc6913136e67',1,'2026-05-13 10:56:36',NULL,'2026-05-13 02:56:36'),('login:email:24d250b246914a29030b3a4540f31b7da0ac717284feb1628efb87d5593dd46f',2,'2026-04-20 20:17:07',NULL,'2026-04-20 14:17:13');
/*!40000 ALTER TABLE `login_throttles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logistica_citas`
--

DROP TABLE IF EXISTS `logistica_citas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logistica_citas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) DEFAULT NULL,
  `pl_folio` varchar(50) DEFAULT NULL,
  `linea_id` int(11) NOT NULL,
  `fecha_cita` datetime NOT NULL,
  `estado` enum('programada','completada','cancelada') DEFAULT 'programada',
  `created_at` datetime DEFAULT current_timestamp(),
  `operador_id` int(11) DEFAULT NULL,
  `carga_kg` int(11) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logistica_citas`
--

LOCK TABLES `logistica_citas` WRITE;
/*!40000 ALTER TABLE `logistica_citas` DISABLE KEYS */;
INSERT INTO `logistica_citas` VALUES (2,NULL,'MULTI-PED',2,'2026-05-14 08:00:00','programada','2026-05-14 02:30:22',2,1175);
/*!40000 ALTER TABLE `logistica_citas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logistica_eventos`
--

DROP TABLE IF EXISTS `logistica_eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logistica_eventos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `lote_id` int(11) NOT NULL,
  `usuario_id` int(11) DEFAULT NULL,
  `tipo_evento` varchar(60) NOT NULL,
  `detalle` varchar(500) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_le_lote` (`lote_id`),
  KEY `fk_le_usuario` (`usuario_id`),
  CONSTRAINT `fk_le_lote` FOREIGN KEY (`lote_id`) REFERENCES `logistica_lotes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_le_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logistica_eventos`
--

LOCK TABLES `logistica_eventos` WRITE;
/*!40000 ALTER TABLE `logistica_eventos` DISABLE KEYS */;
INSERT INTO `logistica_eventos` VALUES (1,1,1,'lote_creado','Lote creado con asignacion sugerida automatica','2026-05-12 15:43:13'),(2,2,1,'lote_creado','Lote creado con asignacion sugerida automatica','2026-05-14 01:24:51');
/*!40000 ALTER TABLE `logistica_eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logistica_lineas`
--

DROP TABLE IF EXISTS `logistica_lineas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logistica_lineas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `prioridad` int(11) DEFAULT 1,
  `rastreo_tiempo_real` tinyint(1) DEFAULT 0,
  `horario_carga_inicio` time DEFAULT '08:00:00',
  `horario_carga_fin` time DEFAULT '18:00:00',
  `dias_operacion` varchar(50) DEFAULT 'Lunes-Sábado',
  `promedio_carga_min` int(11) DEFAULT 60,
  `requiere_cita` tinyint(1) DEFAULT 1,
  `anticipacion_agenda_hrs` int(11) DEFAULT 24,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logistica_lineas`
--

LOCK TABLES `logistica_lineas` WRITE;
/*!40000 ALTER TABLE `logistica_lineas` DISABLE KEYS */;
INSERT INTO `logistica_lineas` VALUES (1,'Transportes Rojas',1,1,'08:00:00','18:00:00','Lunes-Sábado',60,1,12,'2026-05-14 01:19:21'),(2,'Loxagon',2,1,'08:00:00','18:00:00','Lunes-Sábado',60,1,24,'2026-05-14 01:19:21'),(3,'Bisonte',3,0,'08:00:00','18:00:00','Lunes-Sábado',60,1,12,'2026-05-14 01:19:21'),(4,'Tres Guerras',4,1,'08:00:00','18:00:00','Lunes-Sábado',60,1,48,'2026-05-14 01:19:21');
/*!40000 ALTER TABLE `logistica_lineas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logistica_lote_operadores`
--

DROP TABLE IF EXISTS `logistica_lote_operadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logistica_lote_operadores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `lote_id` int(11) NOT NULL,
  `operador_id` int(11) NOT NULL,
  `camion_alias` varchar(80) DEFAULT NULL,
  `capacidad_cajas` int(11) NOT NULL DEFAULT 25,
  `cajas_asignadas` int(11) NOT NULL DEFAULT 0,
  `hora_salida` datetime DEFAULT NULL,
  `hora_entrega` datetime DEFAULT NULL,
  `estado` enum('pendiente','cargando','en_ruta','cerrado') NOT NULL DEFAULT 'pendiente',
  `checklist_salida_json` text DEFAULT NULL,
  `checklist_cierre_json` text DEFAULT NULL,
  `fecha_operacion` date DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_llo_lote_operador` (`lote_id`,`operador_id`),
  KEY `idx_llo_estado` (`estado`),
  KEY `fk_llo_operador` (`operador_id`),
  CONSTRAINT `fk_llo_lote` FOREIGN KEY (`lote_id`) REFERENCES `logistica_lotes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_llo_operador` FOREIGN KEY (`operador_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logistica_lote_operadores`
--

LOCK TABLES `logistica_lote_operadores` WRITE;
/*!40000 ALTER TABLE `logistica_lote_operadores` DISABLE KEYS */;
INSERT INTO `logistica_lote_operadores` VALUES (1,1,3,'Camion Ana Martínez',25,1,NULL,NULL,'pendiente',NULL,NULL,NULL,'2026-05-12 15:43:13','2026-05-12 15:43:13'),(2,1,2,'Camion Carlos López',25,0,NULL,NULL,'pendiente',NULL,NULL,NULL,'2026-05-12 15:43:13','2026-05-12 15:43:13'),(3,2,3,'Camion Ana Martínez',25,2,NULL,NULL,'pendiente',NULL,NULL,NULL,'2026-05-14 01:24:50','2026-05-14 01:24:51'),(4,2,2,'Camion Carlos López',25,1,NULL,NULL,'pendiente',NULL,NULL,NULL,'2026-05-14 01:24:50','2026-05-14 01:24:51');
/*!40000 ALTER TABLE `logistica_lote_operadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logistica_lote_pedidos`
--

DROP TABLE IF EXISTS `logistica_lote_pedidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logistica_lote_pedidos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `lote_id` int(11) NOT NULL,
  `pedido_id` int(11) NOT NULL,
  `ruta_grupo` varchar(80) DEFAULT NULL,
  `prioridad_ruta` int(11) NOT NULL DEFAULT 100,
  `cajas_sugeridas` int(11) NOT NULL DEFAULT 1,
  `cajas_asignadas` int(11) NOT NULL DEFAULT 1,
  `operador_id` int(11) DEFAULT NULL,
  `estado` enum('sugerido','asignado','en_ruta','entregado_parcial','entregado','cancelado') NOT NULL DEFAULT 'sugerido',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_llp_lote_pedido` (`lote_id`,`pedido_id`),
  KEY `idx_llp_operador` (`operador_id`),
  KEY `idx_llp_estado` (`estado`),
  KEY `fk_llp_pedido` (`pedido_id`),
  CONSTRAINT `fk_llp_lote` FOREIGN KEY (`lote_id`) REFERENCES `logistica_lotes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_llp_operador` FOREIGN KEY (`operador_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_llp_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logistica_lote_pedidos`
--

LOCK TABLES `logistica_lote_pedidos` WRITE;
/*!40000 ALTER TABLE `logistica_lote_pedidos` DISABLE KEYS */;
INSERT INTO `logistica_lote_pedidos` VALUES (1,1,18,'av lvaro obreg n 88 col roma cdmx',1,1,1,3,'sugerido','2026-05-12 15:43:13','2026-05-12 15:43:13'),(2,2,18,'av lvaro obreg n 88 col roma cdmx',1,1,1,3,'sugerido','2026-05-14 01:24:50','2026-05-14 01:24:50'),(3,2,19,'av lvaro obreg n 88 col roma cdmx',2,1,1,2,'sugerido','2026-05-14 01:24:51','2026-05-14 01:24:51'),(4,2,20,'av lvaro obreg n 88 col roma cdmx',3,1,1,3,'sugerido','2026-05-14 01:24:51','2026-05-14 01:24:51');
/*!40000 ALTER TABLE `logistica_lote_pedidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logistica_lotes`
--

DROP TABLE IF EXISTS `logistica_lotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logistica_lotes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `folio` varchar(40) NOT NULL,
  `manager_id` int(11) NOT NULL,
  `modo_envio` enum('flotilla','paqueteria') NOT NULL DEFAULT 'flotilla',
  `paqueteria` varchar(80) DEFAULT NULL,
  `costo_pct` decimal(8,2) NOT NULL DEFAULT 0.00,
  `costo_por_caja` decimal(12,2) NOT NULL DEFAULT 0.00,
  `costo_estimado_total` decimal(14,2) NOT NULL DEFAULT 0.00,
  `estado` enum('borrador','pendiente_aceptacion','aceptado','en_embarque','cerrado','cancelado') NOT NULL DEFAULT 'borrador',
  `fecha_salida_programada` date DEFAULT NULL,
  `fecha_entrega_estimada` date DEFAULT NULL,
  `hora_salida` datetime DEFAULT NULL,
  `hora_cierre` datetime DEFAULT NULL,
  `observaciones` varchar(500) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `folio` (`folio`),
  KEY `idx_ll_estado` (`estado`),
  KEY `idx_ll_manager` (`manager_id`),
  CONSTRAINT `fk_ll_manager` FOREIGN KEY (`manager_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logistica_lotes`
--

LOCK TABLES `logistica_lotes` WRITE;
/*!40000 ALTER TABLE `logistica_lotes` DISABLE KEYS */;
INSERT INTO `logistica_lotes` VALUES (1,'LM-20260512-234313',1,'paqueteria',NULL,0.00,0.00,0.00,'borrador',NULL,NULL,NULL,NULL,NULL,'2026-05-12 15:43:13','2026-05-12 15:43:13'),(2,'LM-20260514-092450',1,'flotilla',NULL,0.00,0.00,0.00,'borrador',NULL,NULL,NULL,NULL,NULL,'2026-05-14 01:24:50','2026-05-14 01:24:50');
/*!40000 ALTER TABLE `logistica_lotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logistica_rutas`
--

DROP TABLE IF EXISTS `logistica_rutas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logistica_rutas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `linea_id` int(11) NOT NULL,
  `origen` varchar(100) NOT NULL,
  `destino` varchar(100) NOT NULL,
  `frecuencia` varchar(50) DEFAULT 'diaria',
  `tarifa_fija` decimal(10,2) DEFAULT 0.00,
  `costo_km_adicional` decimal(10,2) DEFAULT 0.00,
  `recargo_combustible_pct` decimal(5,2) DEFAULT 0.00,
  `tiempo_estimado_hrs` int(11) DEFAULT 24,
  `tiempo_min_hrs` int(11) DEFAULT 12,
  `tiempo_max_hrs` int(11) DEFAULT 48,
  `cumplimiento_pct` int(11) DEFAULT 100,
  PRIMARY KEY (`id`),
  KEY `linea_id` (`linea_id`),
  CONSTRAINT `logistica_rutas_ibfk_1` FOREIGN KEY (`linea_id`) REFERENCES `logistica_lineas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logistica_rutas`
--

LOCK TABLES `logistica_rutas` WRITE;
/*!40000 ALTER TABLE `logistica_rutas` DISABLE KEYS */;
INSERT INTO `logistica_rutas` VALUES (1,1,'ALMACEN','QRO','diaria',3200.00,0.00,0.00,4,12,48,99),(2,1,'ALMACEN','CDMX','diaria',4100.00,0.00,0.00,6,12,48,97),(3,1,'ALMACEN','TIZAYUCA','diaria',5200.00,0.00,0.00,8,12,48,95),(4,2,'ALMACEN','QRO','diaria',3500.00,0.00,0.00,4,12,48,98);
/*!40000 ALTER TABLE `logistica_rutas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logistica_unidades`
--

DROP TABLE IF EXISTS `logistica_unidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logistica_unidades` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `linea_id` int(11) NOT NULL,
  `tipo` varchar(50) NOT NULL,
  `tipo_caja` varchar(50) NOT NULL,
  `capacidad_kg` int(11) NOT NULL,
  `peso_minimo` int(11) DEFAULT 0,
  `mercancia_permitida` varchar(255) DEFAULT 'General',
  PRIMARY KEY (`id`),
  KEY `linea_id` (`linea_id`),
  CONSTRAINT `logistica_unidades_ibfk_1` FOREIGN KEY (`linea_id`) REFERENCES `logistica_lineas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logistica_unidades`
--

LOCK TABLES `logistica_unidades` WRITE;
/*!40000 ALTER TABLE `logistica_unidades` DISABLE KEYS */;
INSERT INTO `logistica_unidades` VALUES (1,1,'1 TON','Seca',1000,0,'General, Alimentos'),(2,1,'3.5 TON','Seca',3500,1000,'General'),(3,1,'TORTON','Seca',15000,5000,'General, Peligrosa'),(4,2,'TORTON','Seca',15000,2000,'General'),(5,3,'Tráiler','Seca',25000,5000,'General'),(6,4,'Full','Seca',50000,10000,'General');
/*!40000 ALTER TABLE `logistica_unidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones_eventos`
--

DROP TABLE IF EXISTS `notificaciones_eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificaciones_eventos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `cliente_id` int(11) NOT NULL,
  `canal` enum('interno','email','whatsapp','sms','llamada') NOT NULL,
  `evento` varchar(60) NOT NULL,
  `mensaje` text NOT NULL,
  `estado` enum('pendiente','enviado','error') NOT NULL DEFAULT 'pendiente',
  `metadata_json` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `sent_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ne_pedido` (`pedido_id`),
  KEY `idx_ne_cliente` (`cliente_id`),
  KEY `idx_ne_evento` (`evento`),
  CONSTRAINT `fk_ne_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ne_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones_eventos`
--

LOCK TABLES `notificaciones_eventos` WRITE;
/*!40000 ALTER TABLE `notificaciones_eventos` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones_eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido_evidencias`
--

DROP TABLE IF EXISTS `pedido_evidencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedido_evidencias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `foto_url` varchar(255) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_pe_pedido` (`pedido_id`),
  CONSTRAINT `fk_pe_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido_evidencias`
--

LOCK TABLES `pedido_evidencias` WRITE;
/*!40000 ALTER TABLE `pedido_evidencias` DISABLE KEYS */;
INSERT INTO `pedido_evidencias` VALUES (1,14,'/uploads/evidencias/ev_69e86203de939_14.png','2026-04-21 23:52:05'),(2,14,'/uploads/evidencias/ev_69e86203deccd_14.png','2026-04-21 23:52:05'),(3,14,'/uploads/evidencias/ev_69e86203dfe10_14.png','2026-04-21 23:52:05'),(4,17,'/uploads/evidencias/ev_69e86262017c6_17.png','2026-04-21 23:53:38'),(5,17,'/uploads/evidencias/ev_69e8626201b16_17.png','2026-04-21 23:53:38'),(6,17,'/uploads/evidencias/ev_69e8626201e4e_17.png','2026-04-21 23:53:38');
/*!40000 ALTER TABLE `pedido_evidencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido_historial_estados`
--

DROP TABLE IF EXISTS `pedido_historial_estados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedido_historial_estados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `estado` varchar(40) NOT NULL,
  `nota` varchar(255) DEFAULT NULL,
  `usuario_id` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_phe_pedido` (`pedido_id`),
  KEY `idx_phe_estado` (`estado`),
  KEY `fk_phe_usuario` (`usuario_id`),
  CONSTRAINT `fk_phe_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_phe_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido_historial_estados`
--

LOCK TABLES `pedido_historial_estados` WRITE;
/*!40000 ALTER TABLE `pedido_historial_estados` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido_historial_estados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido_items`
--

DROP TABLE IF EXISTS `pedido_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedido_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `producto_id` int(11) NOT NULL,
  `cantidad` int(11) NOT NULL DEFAULT 1,
  `precio_unit` decimal(10,2) NOT NULL,
  `ajuste_cliente` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pedido_id` (`pedido_id`),
  KEY `producto_id` (`producto_id`),
  CONSTRAINT `pedido_items_ibfk_1` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`),
  CONSTRAINT `pedido_items_ibfk_2` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido_items`
--

LOCK TABLES `pedido_items` WRITE;
/*!40000 ALTER TABLE `pedido_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidos`
--

DROP TABLE IF EXISTS `pedidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedidos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) NOT NULL,
  `operador_id` int(11) DEFAULT NULL,
  `estado` enum('pendiente','aceptado','en_camino','entregado','cancelado') DEFAULT 'pendiente',
  `persona_recibe` varchar(120) DEFAULT NULL,
  `estado_paquete` varchar(80) DEFAULT NULL,
  `tipo_pedido` enum('formal','informal') NOT NULL DEFAULT 'formal',
  `prioridad` enum('baja','media','alta','urgente') NOT NULL DEFAULT 'media',
  `total` decimal(10,2) DEFAULT 0.00,
  `lat_entrega` double DEFAULT NULL,
  `lng_entrega` double DEFAULT NULL,
  `domicilio_entrega` varchar(255) DEFAULT NULL,
  `fecha_requerida` datetime DEFAULT NULL,
  `fecha_programada` datetime DEFAULT NULL,
  `transporte_linea` varchar(120) DEFAULT NULL,
  `pl_documento` varchar(140) DEFAULT NULL,
  `area_flujo` enum('ventas','embarque','logistica','entrega') NOT NULL DEFAULT 'ventas',
  `cfdi_status` enum('pendiente','timbrado','error') NOT NULL DEFAULT 'pendiente',
  `cfdi_uuid` varchar(64) DEFAULT NULL,
  `cfdi_pdf_url` varchar(255) DEFAULT NULL,
  `cfdi_xml_url` varchar(255) DEFAULT NULL,
  `notas` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `destino_demo` varchar(100) DEFAULT 'QRO',
  `ruta_punto` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `cliente_id` (`cliente_id`),
  KEY `operador_id` (`operador_id`),
  KEY `idx_pedidos_tipo` (`tipo_pedido`),
  KEY `idx_pedidos_prioridad` (`prioridad`),
  KEY `idx_pedidos_fecha_programada` (`fecha_programada`),
  CONSTRAINT `pedidos_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `pedidos_ibfk_2` FOREIGN KEY (`operador_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidos`
--

LOCK TABLES `pedidos` WRITE;
/*!40000 ALTER TABLE `pedidos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto_lotes`
--

DROP TABLE IF EXISTS `producto_lotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `producto_lotes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `producto_id` int(11) NOT NULL,
  `lote_numero` int(11) NOT NULL,
  `fecha_ingreso` datetime NOT NULL,
  `fecha_caducidad` datetime NOT NULL,
  `unidades` int(11) NOT NULL DEFAULT 0,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_lote_producto_numero` (`producto_id`,`lote_numero`),
  KEY `idx_lote_producto` (`producto_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto_lotes`
--

LOCK TABLES `producto_lotes` WRITE;
/*!40000 ALTER TABLE `producto_lotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `producto_lotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `precio` decimal(10,2) NOT NULL DEFAULT 0.00,
  `stock` int(11) DEFAULT 100,
  `unidad_medida` varchar(20) NOT NULL DEFAULT 'piezas',
  `fecha_caducidad` date DEFAULT NULL,
  `fecha_ingreso` datetime DEFAULT NULL,
  `lote_activo_id` int(11) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `imagen` varchar(100) DEFAULT NULL,
  `especie_id` int(11) DEFAULT NULL,
  `subcategoria` varchar(80) DEFAULT NULL,
  `cliente_ajustable` tinyint(1) NOT NULL DEFAULT 1,
  `peso_kg` decimal(10,2) DEFAULT 25.00,
  `es_peligroso` tinyint(1) DEFAULT 0,
  `categoria` varchar(50) DEFAULT 'General',
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `idx_productos_especie` (`especie_id`),
  KEY `idx_productos_subcategoria` (`subcategoria`),
  KEY `idx_productos_lote_activo` (`lote_activo_id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subcategorias_catalogo`
--

DROP TABLE IF EXISTS `subcategorias_catalogo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subcategorias_catalogo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `especie_id` int(11) NOT NULL,
  `nombre` varchar(80) NOT NULL,
  `slug` varchar(80) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ux_subcat_especie_slug` (`especie_id`,`slug`),
  KEY `idx_subcat_especie` (`especie_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subcategorias_catalogo`
--

LOCK TABLES `subcategorias_catalogo` WRITE;
/*!40000 ALTER TABLE `subcategorias_catalogo` DISABLE KEYS */;
/*!40000 ALTER TABLE `subcategorias_catalogo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking`
--

DROP TABLE IF EXISTS `tracking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tracking` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `operador_id` int(11) NOT NULL,
  `lat` double NOT NULL,
  `lng` double NOT NULL,
  `ts` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pedido_id` (`pedido_id`),
  KEY `operador_id` (`operador_id`),
  CONSTRAINT `tracking_ibfk_1` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`),
  CONSTRAINT `tracking_ibfk_2` FOREIGN KEY (`operador_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1369 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking`
--

LOCK TABLES `tracking` WRITE;
/*!40000 ALTER TABLE `tracking` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking_shares`
--

DROP TABLE IF EXISTS `tracking_shares`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tracking_shares` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `created_by` int(11) NOT NULL,
  `token_hash` char(64) NOT NULL,
  `expires_at` datetime NOT NULL,
  `revoked_at` datetime DEFAULT NULL,
  `last_access_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_hash` (`token_hash`),
  KEY `idx_tracking_shares_pedido_active` (`pedido_id`,`revoked_at`,`expires_at`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `tracking_shares_ibfk_1` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`),
  CONSTRAINT `tracking_shares_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking_shares`
--

LOCK TABLES `tracking_shares` WRITE;
/*!40000 ALTER TABLE `tracking_shares` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracking_shares` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transporte_lineas`
--

DROP TABLE IF EXISTS `transporte_lineas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transporte_lineas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `capacidad_kg` int(11) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=631 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transporte_lineas`
--

LOCK TABLES `transporte_lineas` WRITE;
/*!40000 ALTER TABLE `transporte_lineas` DISABLE KEYS */;
INSERT INTO `transporte_lineas` VALUES (1,'Linea Norte',12000,1,'2026-04-16 17:56:06'),(2,'Linea Centro',10000,1,'2026-04-16 17:56:06'),(3,'Linea Golfo',8000,1,'2026-04-16 17:56:06');
/*!40000 ALTER TABLE `transporte_lineas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_temas`
--

DROP TABLE IF EXISTS `usuario_temas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_temas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `tema` varchar(50) NOT NULL DEFAULT 'dark',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `fk_ut_user` FOREIGN KEY (`user_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_temas`
--

LOCK TABLES `usuario_temas` WRITE;
/*!40000 ALTER TABLE `usuario_temas` DISABLE KEYS */;
INSERT INTO `usuario_temas` VALUES (1,1,'palette','2026-04-29 05:46:51','2026-04-29 07:20:18'),(24,4,'palette','2026-04-29 05:58:51','2026-04-29 05:58:51'),(25,6,'palette','2026-04-29 05:59:30','2026-04-29 05:59:30'),(26,2,'dark','2026-04-29 06:14:09','2026-04-29 07:08:29');
/*!40000 ALTER TABLE `usuario_temas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `email` varchar(180) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol` enum('administrador','inventario','distribucion','operador','cliente') NOT NULL,
  `domicilio` varchar(255) DEFAULT NULL,
  `edad` tinyint(3) unsigned DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `lat` double DEFAULT NULL,
  `lng` double DEFAULT NULL,
  `zona_radio` double DEFAULT 50,
  `activo` tinyint(1) DEFAULT 1,
  `ultimo_acceso` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `unidad_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-14  2:55:59
